* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;

}

body {
    background-color: pink;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#board {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    background-color: transparent;
    border: black 3px solid;
    margin: 1rem;
}

.cell {
    background-color: powderblue;
    display: grid;
    place-items: center;
    width: 31.55%;
    height: 31.5%;
    border: black 3px solid;
}
